<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SQL Server Data</title>
</head>
<body>
  <h1>SELECCIONAR TABLA ORIGEN</h1>
    
    <% data.forEach(row => { %>
      <a href="/tablaSeleccionada?tabla=<%= row.TABLE_NAME %>" id="<%= row.TABLE_NAME %>"><%= row.TABLE_NAME %></a>
    <% }) %>
    <br>

    <form action="/consultaManual" method="post">
      <label for="consulta">CONSULTA MANUAL</label>
      <input name="consulta" type="text">
      <button type="submit">ENVIAR</button>
    </form>
</body>
</html>
